
@import 'aos/dist/aos.css';

@import '@splidejs/splide/css';





@import '../../vendor/filament/forms/dist/module.esm.css';

@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 241, 127, 52;
        --color-fill: 244, 117, 33;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: var(--color-fill);
    }
}

.dark .bg-gray-400{
    --tw-text-opacity: 1;
        color: rgb(55 65 81 / var(--tw-text-opacity));
}

.dark .text-gray-800{

    --tw-text-opacity: 1;
        color: rgb(243 244 246 / var(--tw-text-opacity));
}
.dark .bg-white{
    --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
.dark .text-dark {

    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
}
.dark .text-darker{
    --tw-text-opacity: 1;
        color: rgb(243 244 246 / var(--tw-text-opacity));
}
.tab-content {
    max-height: 0;
    -webkit-transition: max-height 0.35s;
    -o-transition: max-height 0.35s;
    transition: max-height 0.35s;
}

/* :checked - resize to full height */
.tab2 input:checked~.tab-content {
    max-height: 100vh;
}

/* Label formatting when open */
.tab2 input:checked+label {
    border-left-width: 1px;
    border-color: white;
}

/* Icon */
.tab2 .label .icon {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transform-origin: center center;
}

/* Open Multiple Icon Formatting - Open */
.tab2 input[type="checkbox"]:checked+.label .icon {
    transform: rotate(180deg);
}

/* List Transition */
ul a {
    transition: color 0.5s ease;
}

html {
    scroll-behavior: smooth;
}
